<table width="10000px" style="white-space:nowrap; text-align: center; " class="table table-bordered table-fixed align-middle" id="record-table">
  <thead >
    <tr class="border-bottom">
      <th scope="row" class = "not-important">
          <span >#</span>
      </th>
      <th class="" >
          <span class="ml-2">DATE</span>
      </th>
      <th class="" >
          <span class="ml-2">HOSPITAL</span>
      </th>
      <th class="" >
          <span class="ml-2">PATIENT'S NAME</span>
      </th>
      <th >
          <span class="ml-4">SEX</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">UNIT</span>
      </th>
      <th >
          <span class="ml-4">CAT</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">SWAB</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">PATHWAY</span>
      </th>
      <th class = "not-important" colspan="2">
          <span class="ml-4">SCHEDULE TIME</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">RECEIVED</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">STARTED</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">PREOP</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">COD</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">ER DOOR</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">ACTI</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">WIRING</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">BALLOON</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">DTW</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">DTB</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">DX</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">ANGIOGRAPHER</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">ANESTHESIOLOGIST</span>
      </th>
      <th > 
          <span class="ml-4">PROCEDURE</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">ENDED</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">ENDORSED</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">INTRA</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">UNIT</span>
      </th>
      <th >
          <span class="ml-4">REMARKS</span>
      </th>
      <th >
          <span class="ml-4">NURSE</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">TPI</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">POST</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">CVL</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">RADIATION DOSE</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">AMOUNT OF DYE</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">NUMBER OF BALLOONS</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">NUMBER OF STENTS</span>
      </th>
      <th>
          ACTION
      </th>
    </tr>
  </thead>
  <tbody>
      {% for record in records %}
  
      {% if record.date.month == month %}
      <tr class="border-bottom">
          <td>
            
            {{record.date}}
          
          </td>
          <td>
              
            {{record.hospital}}</span>
             
          <td>
              
            {{record.last_name}}, {{record.first_name}}
            {{record.middle_initial}}.
              
          </td>
          <td>
             
            {{record.sex}}
             
          </td>
          <td>
              
            {{record.category}}
           
          </td>
          <td>
             
            {{record.procedure}}
              
          </td>
          <td>
              {{record.remarks}}
          </td>
          <td>
              
        
            {% for nurse in record.nurse.all %}
                {% if forloop.last %}
                    {{nurse}}
                {% else %}
                    {{nurse}},
                {% endif %}
            {% endfor %}
                
          </td>
          <td>
              <i type="button" data-bs-toggle="modal" data-bs-target="#view{{record.id}}"
                  class="bi bi-eye-fill"></i>
              <i type="button" data-form-url="{% url 'editRecord' record.id %}"
                  class="bi bi-pencil-square update bs-modal"></i>
              <i type="button" data-bs-toggle="modal" data-bs-target="#delete{{record.id}}"
                  class="bi bi-trash-fill"></i>
          </td>
      </tr>

      <div class="modal fade" id="view{{record.id}}" tabindex="-1" aria-labelledby="viewmodal" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable modal-lg">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">View Details</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <div class="row pb-2">
                          <div class="col md-6">
                              <b>Date: </b>{{ record.date }} 
                          </div>
                          <div class="col md-6">
                              <b>Balloon: </b>{{ record.balloon }}
                          </div>    
                      </div>

                      <div class="row pb-2">
                          <div class="col md-6">
                              <b>Patient's Name: </b> {{record.last_name}}, {{record.first_name}} {{record.middle_initial}}.
                          </div>
                          <div class="col md-6">
                              <b>DTW: </b>{{ record.dtw }}
                          </div>    
                      </div>

                      <div class="row pb-2">
                          <div class="col md-6">
                              <b>Hospital: </b>{{ record.hospital }}
                          </div>
                          <div class="col md-6">
                              <b>DTB: </b>{{ record.dtb }}
                          </div>    
                      </div>

                      <div class="row pb-2">
                          <div class="col md-6">
                              <b>Age: </b>{{ record.age }}
                          </div>
                          <div class="col md-6">
                              <b>DX: </b>{{ record.dx }}
                          </div>    
                      </div>

                      <div class="row pb-2">
                          <div class="col md-6">
                              <b>Sex: </b>{{ record.sex }}
                          </div>
                          <div class="col md-6">
                              <b>Angiographer: </b>
                                  {% for angiographer in record.angiographer.all %}
                                      {% if forloop.last %}
                                          {{angiographer}}
                                      {% else %}
                                          {{angiographer}},
                                      {% endif %}
                                  {% endfor %}
                          </div>    
                      </div>

                      <div class="row pb-2">
                          <div class="col md-6">
                              <b>Unit Before: </b>{{ record.unit_before }}
                          </div>
                          <div class="col md-6">
                              <b>Anesthesiologist: </b>
                                  {% for anesthesiologist in record.anesthesiologist.all %}
                                      {% if forloop.last %}
                                          {{anesthesiologist}}
                                      {% else %}
                                          {{anesthesiologist}},
                                      {% endif %}
                                  {% endfor %}
                          </div>    
                      </div>

                      <div class="row pb-2">
                          <div class="col md-6">
                              <b>Category: </b>{{ record.category }}
                          </div>
                          <div class="col md-6">
                              <b>Procedure: </b>{{ record.procedure }}
                          </div>    
                      </div>

                      <div class="row pb-2">
                          <div class="col md-6">
                              <b>SWAB: </b>{{ record.swab }}
                          </div>
                          <div class="col md-6">
                              <b>Ended: </b>{{ record.ended }}
                          </div>    
                      </div>

                      <div class="row pb-2">
                          <div class="col md-6">
                              <b>Pathway: </b>{{ record.pathway }}
                          </div>
                          <div class="col md-6">
                              <b>Endorsed: </b>{{ record.endorsed }}
                          </div>    
                      </div>

                      <div class="row pb-2">
                          <div class="col md-6">
                              <b>Schedule Time: </b>
                                  {% if record.is_emergency %} 
                                      {{record.is_emergency}} 
                                  {% else %}
                                      {{record.schedule_time_from}} to {{record.schedule_time_to}}
                                  {% endif %}
                          </div>
                          <div class="col md-6">
                              <b>Intra: </b>{{ record.intra }}
                          </div>    
                      </div>

                      <div class="row pb-2">
                          <div class="col md-6">
                              <b>Received: </b>{{ record.received }}
                          </div>
                          <div class="col md-6">
                              <b>Unit: </b>{{ record.unit_after }}                               
                          </div>    
                      </div>

                      <div class="row pb-2">
                          <div class="col md-6">
                              <b>Started: </b>{{ record.started }}
                          </div>
                          <div class="col md-6">
                              <b>Remarks: </b>{{ record.remarks }}
                          </div>    
                      </div>

                      <div class="row pb-2">
                          <div class="col md-6">
                              <b>PRE-OP: </b>{{ record.preop }}
                          </div>
                          <div class="col md-6">
                              <b>Nurse: </b>                                        
                                  {% for nurse in record.nurse.all %}
                                      {% if forloop.last %}
                                          {{nurse}}
                                      {% else %}
                                          {{nurse}},
                                      {% endif %}
                                  {% endfor %}
                          </div>    
                      </div>

                      <div class="row pb-2">
                          <div class="col md-6">
                              <b>COD: </b>{{ record.cod }}
                          </div>
                          <div class="col md-6">
                              <b>TPI: </b>{{ record.tpi }}
                          </div>    
                      </div>

                      <div class="row pb-2">
                          <div class="col md-6">
                              <b>ER Door: </b>{{ record.er_door }}
                          </div>
                          <div class="col md-6">
                              <b>Post: </b>{{ record.post }}
                          </div>    
                      </div>

                      <div class="row pb-2">
                          <div class="col md-6">
                              <b>Acti: </b>{{ record.acti }}
                          </div>
                          <div class="col md-6">
                              <b>CVL: </b>{{ record.cvl }}
                          </div>    
                      </div>

                      <div class="row pb-2">
                          <div class="col md-6">
                              <b>Wiring: </b>{{ record.wiring }}
                          </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
              </div>
          </div>
      </div>
      <div class="modal fade" id="delete{{record.id}}" tabindex="-1" aria-labelledby="deletemodal" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Delete Record</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      Are you sure you want to delete this record?
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                      <a type="button" class="btn btn-danger" href="{% url 'removeRecord' record.id %}">Delete</a>
                  </div>
              </div>
          </div>
      </div>
      {% endif %}
      {% endfor %}
  </tbody>
</table>