{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Heart Registry{% endblock title %}


{% block content %}
<!--Modals-->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="remove">
    <div class="modal-dialog ">
        <div class="modal-content">
        
        </div>
    </div>
</div>
  
  

<div class="container-fluid p-5">

    <div class="row">
        <div class="col">
            <button class="btn btn-danger btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                {{ active_year }}
            </button>
            <ul class="dropdown-menu">
                {% for year in years %}
                <li><a class="dropdown-item"  href="{% url 'records' year %}" >{{year}}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="col-auto">
            <a class="btn btn-secondary btn-lg" href="{% url 'exportToCSV' active_year %}">Generate Report</a>
            <a class="btn btn-danger btn-lg" data-bs-toggle="modal" data-bs-target="#add">Add Record</a>
        </div>
    </div>

    <br>
    <br>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            {% for month,month_name in months.items %}
            
            {%if active_year and month_today == month%}
                <a class="nav-link active" id="{{month}}-tab"
                    data-bs-toggle="tab" data-bs-target="#{{month}}" type="button" role="tab" aria-controls="{{month}}"
                    aria-selected="true">{{month_name}}
                </a>
            {%elif not active_year and forloop.first%}
                <a class="nav-link active" id="{{month}}-tab"
                    data-bs-toggle="tab" data-bs-target="#{{month}}" type="button" role="tab" aria-controls="{{month}}"
                    aria-selected="true">{{month_name}}
                </a>
            {%else%}
                <a class="nav-link" id="{{month}}-tab"
                    data-bs-toggle="tab" data-bs-target="#{{month}}" type="button" role="tab" aria-controls="{{month}}"
                    aria-selected="false">{{month_name}}
                </a>
            {%endif%}
            {% endfor %}
        </div>
    </nav>

    <div class="tab-content" id="nav-tabContent" >
        {% for month in months %}
        {%if active_year and month_today == month%}
        <div class="tab-pane fade show active" id="{{month}}" role="tabpanel"
            aria-labelledby="{{month}}-tab">
        {%elif not active_year and forloop.first%}
        <div class="tab-pane fade show active" id="{{month}}" role="tabpanel"
        aria-labelledby="{{month}}-tab">
        {%else%}
        <div class="tab-pane fade show" id="{{month}}" role="tabpanel"
            aria-labelledby="{{month}}-tab">
        {%endif%}
            <br>
            {%include 'patients/records-table.html'%}
        </div>
        {% endfor %}
    </div>
</div>

<div class="modal fade" id="add" tabindex="-1" aria-labelledby="addmodal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <form method="POST" action="" enctype = "multipart/form-data">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add a Record</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body p-3">

                    <div class="row pb-3">
                        <div class='col-3'>
                            {{record_form.date | as_crispy_field}}
                        </div>
                        <div class='col-4'>
                            {{record_form.first_name | as_crispy_field}}
                        </div>
                        <div class='col-1'>
                            {{record_form.middle_initial | as_crispy_field}}
                        </div>
                        <div class='col-4'>
                            {{record_form.last_name | as_crispy_field}}
                        </div>
                    </div>

                    <div class="row pb-3">
                        <div class="col-2">
                            {{record_form.hospital | as_crispy_field}}
                        </div>
                        <div class="col-2">
                            {{record_form.age | as_crispy_field}}
                        </div>
                        <div class="col-2">
                            {{record_form.sex | as_crispy_field}}
                        </div>
                        <div class="col-2">
                            {{record_form.unit_before | as_crispy_field}}
                        </div>
                        <div class="col-2">
                            {{record_form.category | as_crispy_field}}
                        </div>
                        <div class="col-2">
                            {{record_form.swab | as_crispy_field}}
                        </div>
                    </div>

                    <div class="row pb-3">
                        <div class="col-3">
                            {{record_form.pathway | as_crispy_field}}
                        </div>
                        <div class="col-3">
                            {{record_form.is_emergency | as_crispy_field}}
                        </div>
                        <div class='col-3'>
                            {{record_form.schedule_time_from | as_crispy_field}}
                        </div>
                        <div class='col-3'>
                            {{record_form.schedule_time_to | as_crispy_field}}
                        </div>
                    </div>

                    <div class="row pb-3">

                        <div class="col-3">
                            {{record_form.received | as_crispy_field}}
                        </div>
                        <div class="col-3">
                            {{record_form.started | as_crispy_field}}
                        </div>
                        <div class="col-3">
                            {{record_form.er_door | as_crispy_field}}
                        </div>
                        <div class="col-3">
                            {{record_form.acti | as_crispy_field}}
                        </div>
                    </div>

                    <div class="row pb-3">
                        <div class="col-3">
                            {{record_form.wiring | as_crispy_field}}
                        </div>
                        <div class="col-3">
                            {{record_form.balloon | as_crispy_field}}
                        </div>
                        <div class="col-3">
                            {{record_form.dx | as_crispy_field}}
                        </div>
                        <div class="col-3">
                            {{record_form.procedure | as_crispy_field}}
                        </div>
                    </div>

                    <div class="row pb-3">
                        <div class="col-4">
                            {{record_form.angiographer | as_crispy_field}}
                        </div>
                        <div class="col-4">
                            {{record_form.anesthesiologist | as_crispy_field}}
                        </div>
                        <div class="col-4">
                            {{record_form.nurse | as_crispy_field}}
                        </div>
                    </div>

                    <div class="row pb-3">
                        <div class="col-3">
                            {{record_form.ended | as_crispy_field}}
                        </div>
                        <div class="col-3">
                            {{record_form.endorsed | as_crispy_field}}
                        </div>
                        <div class="col-3">
                            {{record_form.unit_after | as_crispy_field}}
                        </div>
                        <div class="col-3">
                            {{record_form.tpi | as_crispy_field}}
                        </div>
                    </div>

                    <div class="row pb-3">
                        <div class="col">
                            {{record_form.remarks | as_crispy_field}}
                        </div>
                    </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="Submit" class="btn btn-danger">Save changes</button>
                    {% comment %} <button type="button" class="btn btn-danger" href="{% url 'removeRecord' record.id %}">Save changes</button> {% endcomment %}
                </div>
            </div>
        </form>
    </div>
</div>

    

{% endblock content %}

{%block extrascripts%}
<script>
    $(function() {
        document.getElementById('nav-tab').addEventListener('click', function(e) {
        // Get all elements with class 'nav-link'
        var navLinks = document.getElementsByClassName('nav-link');
        
        // Loop through each nav link and remove the 'active' class
        for (var i = 0; i < navLinks.length; i++) {
            navLinks[i].classList.remove('active');
        }
        
        // Add the 'active' class to the clicked nav link
        e.target.classList.add('active');
        
        // Get all elements with class 'tab-pane'
        var tabPanes = document.getElementsByClassName('tab-pane');
        
        // Loop through each tab pane and remove the 'active' class
        for (var i = 0; i < tabPanes.length; i++) {
            tabPanes[i].classList.remove('active');
        }
        
        // Get the id of the clicked nav link
        var clickedNavLinkId = e.target.id;
        
        // Get the corresponding tab pane for the clicked nav link
        var clickedTabPane = document.getElementById(clickedNavLinkId.replace('-tab', ''));
        
        // Add the 'active' class to the corresponding tab pane
        clickedTabPane.classList.add('active');
        });
    
        var asyncSuccessMessageUpdate = [
        "<div ",
        "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' ",
        "class='alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'>",
        "Success: Record was changed.",
        "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
        "<span aria-hidden='true'>&times;</span>",
        "</button>",
        "</div>",
        "<script>",
        "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});",
        "<\/script>"
        ].join("");
    
        function updateRecordModalForm() {
    
          $(".update").each(function () {
    
            $(this).modalForm({
                modalID:'#modal',
                formURL: $(this).data("form-url"),
            });
          });
        }
        updateRecordModalForm();

    })
    
</script>
{%endblock extrascripts%}