<table width="10000px" style="white-space:nowrap; text-align: center; " class="table table-bordered table-fixed align-middle">
  <thead >
    <tr class="border-bottom">
      <th scope="row" class = "not-important">
          <span >#</span>
      </th>
      <th class="" >
          <span class="ml-2">DATE</span>
      </th>
      <th class="" >
          <span class="ml-2">HOSPITAL</span>
      </th>
      <th class="" >
          <span class="ml-2">PATIENT'S NAME</span>
      </th>
      <th >
          <span class="ml-4">SEX</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">UNIT</span>
      </th>
      <th >
          <span class="ml-4">CAT</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">SWAB</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">PATHWAY</span>
      </th>
      <th class = "not-important" colspan="2">
          <span class="ml-4">SCHEDULE TIME</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">RECEIVED</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">STARTED</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">PREOP</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">COD</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">ER DOOR</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">ACTI</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">WIRING</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">BALLOON</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">DTW</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">DTB</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">DX</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">ANGIOGRAPHER</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">ANESTHESIOLOGIST</span>
      </th>
      <th > 
          <span class="ml-4">PROCEDURE</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">ENDED</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">ENDORSED</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">INTRA</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">UNIT</span>
      </th>
      <th >
          <span class="ml-4">REMARKS</span>
      </th>
      <th >
          <span class="ml-4">NURSE</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">TPI</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">POST</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">CVL</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">RADIATION DOSE</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">AMOUNT OF DYE</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">NUMBER OF BALLOONS</span>
      </th>
      <th class = "not-important">
          <span class="ml-4">NUMBER OF STENTS</span>
      </th>
      <th>
          ACTION
      </th>
    </tr>
  </thead>
  <tbody>
      {% for record in records %}
  
      {% if record.date.month == month %}
      <tr class="border-bottom">
          <th scope="row" class = "not-important">{{forloop.counter}}</th>
          <td>
              <div class="p-2">
                  <span class="d-block font-weight-bold">{{record.date}}</span>
              </div>
          </td>
          <td>
              <div class="p-2">
                  <span class="d-block font-weight-bold">{{record.hospital | default_if_none:""}}</span>
              </div>
          </td>
          <td>
              <div class="p-2">
                  <span class="d-block font-weight-bold">

                    {% if record.last_name and record.first_name and record.middle_initial %}
                        {{record.last_name}}, {{record.first_name}} {{record.middle_initial}}.
                    {% elif record.last_name and record.first_name %}
                        {{record.last_name}}, {{record.first_name}} 
                    {% else %}
                        
                    {% endif %}
                    <!-- {{record.last_name | default_if_none:""}}, {{record.first_name | default_if_none:""}}
                      {{record.middle_initial | default_if_none:""}}. -->
                    </span>
              </div>
          </td>
          <td>
              <div class="p-2">
                  <span class="d-block font-weight-bold">{{record.sex | default_if_none:""}}</span>
              </div>
          </td>
          <td>
              <div class="p-2 d-flex flex-column">
                  <span>{{record.category | default_if_none:""}}</span>
              </div>
          </td>
          <td>
              <div class="p-2 d-flex flex-column">
                  <span>{{record.procedure | default_if_none:""}}</span>
              </div>
          </td>
          <td>
              <div class="p-2 d-flex flex-column">
                  <span>{{record.remarks | default_if_none:""}}</span>
              </div>
          </td>
          <td>
              <div class="p-2 d-flex flex-column">
                  <span>
                      {% for nurse in record.nurse.all %}
                          {% if forloop.last %}
                              {{nurse}}
                          {% else %}
                              {{nurse}},
                          {% endif %}
                      {% endfor %}
                  </span>
              </div>
          </td>
          <td>
              <i type="button" data-bs-toggle="modal" data-bs-target="#view{{record.id}}"
                  class="bi bi-eye-fill"></i>
              <i type="button" data-form-url="{% url 'editRecord' record.id %}"
                  class="bi bi-pencil-square update bs-modal"></i>
              <i type="button" data-bs-toggle="modal" data-bs-target="#delete{{record.id}}"
                  class="bi bi-trash-fill"></i>
          </td>
      </tr>

      <div class="modal fade" id="view{{record.id}}" tabindex="-1" aria-labelledby="viewmodal" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable modal-lg">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">View Record</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <div class="row pb-2">
                          <div class="col md-6">
                              <b>Date: </b>{{ record.date }} 
                          </div>
                          <div class="col md-6">
                              <b>Balloon: </b>{{ record.balloon | default_if_none:""}}
                          </div>    
                      </div>

                      <div class="row pb-2">
                          <div class="col md-6">
                              <b>Patient's Name: </b> {{record.last_name | default_if_none:""}}, {{record.first_name | default_if_none:""}} {{record.middle_initial | default_if_none:""}}.
                          </div>
                          <div class="col md-6">
                              <b>DTW: </b>{{ record.dtw | default_if_none:""}}
                          </div>    
                      </div>

                      <div class="row pb-2">
                          <div class="col md-6">
                              <b>Hospital: </b>{{ record.hospital | default_if_none:""}}
                          </div>
                          <div class="col md-6">
                              <b>DTB: </b>{{ record.dtb | default_if_none:""}}
                          </div>    
                      </div>

                      <div class="row pb-2">
                          <div class="col md-6">
                              <b>Age: </b>{{ record.age | default_if_none:""}}
                          </div>
                          <div class="col md-6">
                              <b>DX: </b>{{ record.dx | default_if_none:""}}
                          </div>    
                      </div>

                      <div class="row pb-2">
                          <div class="col md-6">
                              <b>Sex: </b>{{ record.sex | default_if_none:""}}
                          </div>
                          <div class="col md-6">
                              <b>Angiographer: </b>
                                  {% for angiographer in record.angiographer.all %}
                                      {% if forloop.last %}
                                          {{angiographer}}
                                      {% else %}
                                          {{angiographer}},
                                      {% endif %}
                                  {% endfor %}
                          </div>    
                      </div>

                      <div class="row pb-2">
                          <div class="col md-6">
                              <b>Unit Before: </b>{{ record.unit_before | default_if_none:""}}
                          </div>
                          <div class="col md-6">
                              <b>Anesthesiologist: </b>
                                  {% for anesthesiologist in record.anesthesiologist.all %}
                                      {% if forloop.last %}
                                          {{anesthesiologist}}
                                      {% else %}
                                          {{anesthesiologist}},
                                      {% endif %}
                                  {% endfor %}
                          </div>    
                      </div>

                      <div class="row pb-2">
                          <div class="col md-6">
                              <b>Category: </b>{{ record.category | default_if_none:"" }}
                          </div>
                          <div class="col md-6">
                              <b>Procedure: </b>{{ record.procedure | default_if_none:"" }}
                          </div>    
                      </div>

                      <div class="row pb-2">
                          <div class="col md-6">
                              <b>SWAB: </b>{{ record.swab | default_if_none:"" }}
                          </div>
                          <div class="col md-6">
                              <b>Ended: </b>{{ record.ended | default_if_none:"" }}
                          </div>    
                      </div>

                      <div class="row pb-2">
                          <div class="col md-6">
                              <b>Pathway: </b>{{ record.pathway | default_if_none:"" }}
                          </div>
                          <div class="col md-6">
                              <b>Endorsed: </b>{{ record.endorsed | default_if_none:"" }}
                          </div>    
                      </div>

                      <div class="row pb-2">
                          <div class="col md-6">
                              <b>Schedule Time: </b>
                                  {% if record.is_emergency %} 
                                      EMERGENCY
                                  {% elif record.schedule_time_from is None and record.schedule_time_to is None %}
                                  
                                  {% else %}
                                      {{record.schedule_time_from}} to {{record.schedule_time_to}}
                                  {% endif %}
                          </div>
                          <div class="col md-6">
                              <b>Intra: </b>{{ record.intra | default_if_none:"" }}
                          </div>    
                      </div>

                      <div class="row pb-2">
                          <div class="col md-6">
                              <b>Received: </b>{{ record.received | default_if_none:"" }}
                          </div>
                          <div class="col md-6">
                              <b>Unit: </b>{{ record.unit_after | default_if_none:"" }}                               
                          </div>    
                      </div>

                      <div class="row pb-2">
                          <div class="col md-6">
                              <b>Started: </b>{{ record.started | default_if_none:"" }}
                          </div>
                          <div class="col md-6">
                              <b>Remarks: </b>{{ record.remarks | default_if_none:"" }}
                          </div>    
                      </div>

                      <div class="row pb-2">
                          <div class="col md-6">
                              <b>PRE-OP: </b>{{ record.preop | default_if_none:"" }}
                          </div>
                          <div class="col md-6">
                              <b>Nurse: </b>                                        
                                  {% for nurse in record.nurse.all %}
                                      {% if forloop.last %}
                                          {{nurse}}
                                      {% else %}
                                          {{nurse}},
                                      {% endif %}
                                  {% endfor %}
                          </div>    
                      </div>

                      <div class="row pb-2">
                          <div class="col md-6">
                              <b>COD: </b>{{ record.cod | default_if_none:"" }}
                          </div>
                          <div class="col md-6">
                              <b>TPI: </b>{{ record.tpi | default_if_none:"" }}
                          </div>    
                      </div>

                      <div class="row pb-2">
                          <div class="col md-6">
                              <b>ER Door: </b>{{ record.er_door | default_if_none:"" }}
                          </div>
                          <div class="col md-6">
                              <b>Post: </b>{{ record.post | default_if_none:"" }}
                          </div>    
                      </div>

                      <div class="row pb-2">
                          <div class="col md-6">
                              <b>Activation: </b>{{ record.acti | default_if_none:"" }}
                          </div>
                          <div class="col md-6">
                              <b>CVL: </b>{{ record.cvl | default_if_none:"" }}
                          </div>    
                      </div>

                      <div class="row pb-2">
                          <div class="col md-6">
                              <b>Wiring: </b>{{ record.wiring | default_if_none:"" }}
                          </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
              </div>
          </div>
      </div>
      <div class="modal fade" id="delete{{record.id}}" tabindex="-1" aria-labelledby="deletemodal" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Delete Record</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      Are you sure you want to delete this record?
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                      <a type="button" class="btn btn-danger" href="{% url 'removeRecord' record.id %}">Delete</a>
                  </div>
              </div>
          </div>
      </div>
      {% endif %}
      {% endfor %}
  </tbody>
</table>