{% extends 'index.html' %}
{% load static %}
{% block title %}Health Registry{% endblock title %}


{% block content %}
    <div class="container-fluid p-5">


        <button class="btn btn-danger btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            {{ active_year }}
        </button>
        <ul class="dropdown-menu">
            {% for year in years %}
            <li><a class="dropdown-item"  href="{% url 'records' year|date:'Y' %}" >{{year|date:"Y"}}</a></li>
            {% endfor %}
        </ul>
        <br>
        <br>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                {% for month in months %}
                <button class="nav-link text-danger {% if month_today|stringformat:'02d' == month|date:'m' %}active{% endif %}" id="{{month|date:'m'}}"
                    data-bs-toggle="tab" data-bs-target="#{{month|date:'m'}}" type="button" role="tab" aria-controls="{{month|date:'m'}}"
                    aria-selected="{% if month_today|stringformat:'02d' == month|date:'m' %}true{%endif%}">{{month|date:"F"}}</button>
                {% endfor %}
            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent" >
            {% for month in months %}
            <div class="tab-pane fade {% if month_today|stringformat:'02d' == month|date:'m' %}show active {%else%} show active{% endif %}" id="{{month|date:'m'}}" role="tabpanel"
                aria-labelledby="{{month|date:'m'}}">
                <br>
                
                <table width="10000px" style="white-space:nowrap; text-align: center; " class="table table-bordered table-fixed align-middle">
                    <thead >
                      <tr class="border-bottom">
                        <th scope="row" class = "not-important">
                            <span >#</span>
                        </th>
                        <th class="" >
                            <span class="ml-2">DATE</span>
                        </th>
                        <th class="" >
                            <span class="ml-2">HOSPITAL</span>
                        </th>
                        <th class="" >
                            <span class="ml-2">PATIENT'S NAME</span>
                        </th>
                        <th >
                            <span class="ml-4">SEX</span>
                        </th>
                        <th class = "not-important">
                            <span class="ml-4">UNIT</span>
                        </th>
                        <th >
                            <span class="ml-4">CAT</span>
                        </th>
                        <th class = "not-important">
                            <span class="ml-4">SWAB</span>
                        </th>
                        <th class = "not-important">
                            <span class="ml-4">PATHWAY</span>
                        </th>
                        <th class = "not-important" colspan="2">
                            <span class="ml-4">SCHEDULE TIME</span>
                        </th>
                        <th class = "not-important">
                            <span class="ml-4">RECEIVED</span>
                        </th>
                        <th class = "not-important">
                            <span class="ml-4">STARTED</span>
                        </th>
                        <th class = "not-important">
                            <span class="ml-4">PREOP</span>
                        </th>
                        <th class = "not-important">
                            <span class="ml-4">COD</span>
                        </th>
                        <th class = "not-important">
                            <span class="ml-4">ER DOOR</span>
                        </th>
                        <th class = "not-important">
                            <span class="ml-4">ACTI</span>
                        </th>
                        <th class = "not-important">
                            <span class="ml-4">WIRING</span>
                        </th>
                        <th class = "not-important">
                            <span class="ml-4">BALLOON</span>
                        </th>
                        <th class = "not-important">
                            <span class="ml-4">DTW</span>
                        </th>
                        <th class = "not-important">
                            <span class="ml-4">DTB</span>
                        </th>
                        <th class = "not-important">
                            <span class="ml-4">DX</span>
                        </th>
                        <th class = "not-important">
                            <span class="ml-4">ANGIOGRAPHER</span>
                        </th>
                        <th class = "not-important">
                            <span class="ml-4">ANESTHESIOLOGIST</span>
                        </th>
                        <th > 
                            <span class="ml-4">PROCEDURE</span>
                        </th>
                        <th class = "not-important">
                            <span class="ml-4">ENDED</span>
                        </th>
                        <th class = "not-important">
                            <span class="ml-4">ENDORSED</span>
                        </th>
                        <th class = "not-important">
                            <span class="ml-4">INTRA</span>
                        </th>
                        <th class = "not-important">
                            <span class="ml-4">UNIT</span>
                        </th>
                        <th >
                            <span class="ml-4">REMARKS</span>
                        </th>
                        <th >
                            <span class="ml-4">NURSE</span>
                        </th>
                        <th class = "not-important">
                            <span class="ml-4">TPI</span>
                        </th>
                        <th class = "not-important">
                            <span class="ml-4">POST</span>
                        </th>
                        <th class = "not-important">
                            <span class="ml-4">CVL</span>
                        </th>
                        <th class = "not-important">
                            <span class="ml-4">RADIATION DOSE</span>
                        </th>
                        <th class = "not-important">
                            <span class="ml-4">AMOUNT OF DYE</span>
                        </th>
                        <th class = "not-important">
                            <span class="ml-4">NUMBER OF BALLOONS</span>
                        </th>
                        <th class = "not-important">
                            <span class="ml-4">NUMBER OF STENTS</span>
                        </th>
                        <th>
                            ACTION
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for record in records %}
                    
                        {% if record.date.month|stringformat:"02d" == month|date:"m" %}
                        <tr class="border-bottom">
                            <th scope="row" class = "not-important">{{forloop.counter}}</th>
                            <td>
                                <div class="p-2">
                                    <span class="d-block font-weight-bold">{{record.date}}</span>
                                </div>
                            </td>
                            <td>
                                <div class="p-2">
                                    <span class="d-block font-weight-bold">{{record.hospital}}</span>
                                </div>
                            </td>
                            <td>
                                <div class="p-2">
                                    <span class="d-block font-weight-bold">{{record.last_name}}, {{record.first_name}}
                                        {{record.middle_initial}}.</span>
                                </div>
                            </td>
                            <td>
                                <div class="p-2">
                                    <span class="d-block font-weight-bold">{{record.sex}}</span>
                                </div>
                            </td>
                            <td>
                                <div class="p-2 d-flex flex-column">
                                    <span>{{record.category}}</span>
                                </div>
                            </td>
                            <td>
                                <div class="p-2 d-flex flex-column">
                                    <span>{{record.procedure}}</span>
                                </div>
                            </td>
                            <td>
                                <div class="p-2 d-flex flex-column">
                                    <span>{{record.remarks}}</span>
                                </div>
                            </td>
                            <td>
                                <div class="p-2 d-flex flex-column">
                                    <span>
                                        {% for nurse in record.nurse.all %}
                                            {% if forloop.last %}
                                                {{nurse}}
                                            {% else %}
                                                {{nurse}},
                                            {% endif %}
                                        {% endfor %}
                                    </span>
                                </div>
                            </td>
                            <td>
                                <i type="button" data-bs-toggle="modal" data-bs-target="#view{{record.id}}"
                                    class="bi bi-eye-fill"></i>
                                <i type="button" data-bs-toggle="modal" data-bs-target="#edit"
                                    class="bi bi-pencil-square"></i>
                                <i type="button" data-bs-toggle="modal" data-bs-target="#delete"
                                    class="bi bi-trash-fill"></i>
                            </td>
                        </tr>

                        <div class="modal fade" id="view{{record.id}}" tabindex="-1" aria-labelledby="viewmodal" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        {{ record.date }}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-danger">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </div>
        <!-- <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                {% for month in months %}
              <button class="nav-link {% if forloop.first %}active{% endif %}" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#{{month}}" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
                {% endfor %}
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            {% for month in months %}
            <div class="tab-pane fade " id="month" role="tabpanel" aria-labelledby="nav-home-tab">...</div>
            {% endfor %}
        </div> -->
    </div>
    
    <div class="modal fade" id="view" tabindex="-1" aria-labelledby="viewmodal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">View Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                {% if record %}
                <div class="modal-body">
                    <h4>Date: {{ record.date }}</h4>
                </div>
                {% endif %}
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="edit" tabindex="-1" aria-labelledby="editmodal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="deletemodal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}